.cart{
    margin-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: 350px  
                             ;      
}

.total{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:#656565; 
}

 