h2{
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:#656565;
}
.compra{
    justify-content: center;
    display: grid;
    grid-template-columns: 250px 
                             ;                           
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color:#656565;
}